body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
}

.game-container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.category-btn {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.category-btn:hover {
    background-color: #0056b3;
}
#back-btn{
    padding:1rem;
    font-size:1.2rem;
    background-color:rgb(115, 204, 213);
    border-radius:1rem;
    border:none;
}
